.card {
	background: var(--fg) linear-gradient(var(--shadow-bg), var(--shadow-bg));
	color: var(--bg);
	border-radius: 1rem;
	container-type: inline-size;
	padding: 1rem;
	width: 10rem;
}

.card:focus-within {
	z-index: 1;
}

.card button:focus {
	outline: none;
}

.card button:focus-visible::before {
	border-radius: 1rem;
	content: '';
	inset: 0;
	pointer-events: none;
	position: absolute;
	outline: 3px solid var(--focus-color);
	outline-offset: 3px;
}

.poorContainment {
	background: var(--bg) linear-gradient(var(--shadow-bg), var(--shadow-bg));
	color: var(--fg);
	overflow: hidden;
}

.betterContainment {
	background: var(--bg) linear-gradient(var(--shadow-bg), var(--shadow-bg));
	background-clip: padding-box;
	border: 1rem solid transparent;
	color: var(--fg);
	margin: -1rem;
}
